  .card-dinamic {
    position: relative;
    top: 50px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    height: 230px;
    background-color: #f5f5f5;
    border-radius: 20px;
    margin-left: 200px;
    margin-top: 20px;
    margin-right: 200px;
  }
  
  .card-dinamic img {
    position: relative;
    left: 40px;
    top: 20px;
    width: 180px;
    height: 180px;
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
  }
  .card-info h3{
    margin: 0;
  }
  .card-info {
    position: relative;
    right: 160px;
    top: 150px;
    flex: 1;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .title-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-dinamic p{
    position: relative;
    left: 250px;
    bottom: 120px;
    margin: 3px;
  }

  .title-buttons h3 {
    position: relative;
    left: 250px;
    bottom: 130px;
    font-size: 20px;
    color: #333;
    font-size: x-large;
  }
  
  .buttons button {
    position: relative;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  #perfil {
    position: relative;
    left: 280px;
    bottom: 105px;
    height: 50px;
    width: 150px;
  }

  #agendar {
    position: relative;
    bottom: 40px;
    left: 126px;
    height: 50px;
    width: 150px;
  }

  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    left: 380px;
    margin: 0 auto; 
  }
  
  #search-input {
    flex: 1;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
  }
  
  #search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
  }