  .card-dinamic {
    position: relative;
    top: 50px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    height: 230px;
    background-color: #f5f5f5;
    border-radius: 20px;
    margin-left: 200px;
    margin-top: 20px;
    margin-right: 200px;
  }
  
  .card-dinamic img {
    position: relative;
    left: 40px;
    top: 20px;
    width: 180px;
    height: 180px;
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
  }
  .card-info h3{
    margin: 0;
  }
  .card-info {
    position: relative;
    right: 160px;
    top: 150px;
    flex: 1;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .title-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-dinamic p{
    position: relative;
    left: 250px;
    bottom: 120px;
    margin: 3px;
  }

  .title-buttons h3 {
    position: relative;
    left: 250px;
    bottom: 130px;
    font-size: 20px;
    color: #333;
    font-size: x-large;
  }
  
  .buttons button {
    position: relative;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .perfil a {
    position: relative;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  #perfil {
    position: relative;
    left: 280px;
    bottom: 105px;
    height: 50px;
    width: 150px;
  }

  #agendar {
    position: relative;
    bottom: 40px;
    left: 126px;
    height: 50px;
    width: 150px;
  }

  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    left: 380px;
    margin: 0 auto; 
  }
  
  #search-input {
    flex: 1;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
  }
  
  #search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
  }

/* Estilo boton de busqueda */

#contenedor-buscar .search-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  right: 150px;
}

#contenedor-buscar .search-box .search-container .search-input {
  border: 2px solid #3c3b3d; /* Borde morado para destacar la entrada */
  outline: none;
  padding: 8px 15px;
  border-radius: 20px 0 0 20px; /* Esquinas izquierdas redondeadas */
  width: calc(100% - 46px); /* Ajuste del ancho para compensar el padding y el botón */
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1); /* Sombra suave para dar profundidad */
}

#contenedor-buscar .search-box .search-container #searchButton {
  background-color: #e9e8ec; /* Fondo morado */
  border: none;
  color: white;
  padding: 10px; /* Ajuste el padding según sea necesario para el ícono */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  font-size: 0; /* Oculta el texto si hay alguno */
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* Sombra suave para dar profundidad */
  position: relative; /* Posición relativa para el posicionamiento absoluto del pseudo-elemento */
  width: 43px; /* Ancho fijo para el botón */
  height: 43px; /* Altura fija para el botón */
  align-items: center;
  justify-content: center;
  display: flex;
  border: 2px solid #3c3b3d; /* Borde morado para destacar la entrada */
}

#contenedor-buscar .search-box .search-container #searchButton::after {
  content: "\1F50D"; /* Unicode para el icono de lupa */
  font-size: 20px; /* Ajusta esto según el tamaño que prefieras para el ícono */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el ícono perfectamente */
  color: white; /* Color del ícono */
}


#contenedor-buscar .search-box .search-container .d-none {
  display: none;
}

/*responsive*/

@media (max-width: 968px) {
  .search-container {
      flex-direction: column;
      align-items: stretch;
  }

  .search-input,
  #searchButton {
      width: 100%;
      margin-bottom: 10px;
  }
}

