body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .doctor-profile {
    background-color: #e6f7ff;
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    width: 300px;
  }
  
  .doctor-photo {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  
  h2 {
    color: #333;
    font-size: 20px;
  }
  

  .card {
    font-family: 'Arial', sans-serif;
    position: relative;
    max-width: 400px;
    height: 396px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    overflow: hidden;
    right: 480px;
  }
  
  .card-image {
    width: 100%;
    display: block; /* Remove extra space below the image */
  }
  
  .card-content {
    padding: 15px;
    background-color: #fff;
  }
  
  .doctor-name {
    margin: 10px 0;
    font-weight: bold;
  }
  
  .doctor-specialty {
    color: #555;
    margin: 5px 0;
  }
  
  .clinic-name {
    color: #777;
    margin: 5px 0;
  }

  /*calendario*/

  
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    align-items: start;
  }
  
  .date-selector, .time-slots, .calendar-container {
    background: #fff;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .date-selector {
    position: relative;
    display: flex;
    left: 289px;
    bottom: 396px;
    width: 450px;
    justify-content: space-between;
    align-items: center;
  }
  
  .time-slots{
    position: relative;
    right: 181px;
    bottom: 325px;
    width: 450px;
  }

  .time-slots button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .time-slots button:hover {
    background-color: #45a049;
  }
  
  .calendar-container {
    position: relative;
    right: 200px;
    bottom: 396px;
    width: 350px;
    height: 70px;
  }

