/* Estilos específicos para cada tipo de servicio */
.consultas { background-color: #009688; }
.dental { background-color: #00BCD4; }
.imagenes { background-color: #4CAF50; }
.telemedicina { background-color: #8BC34A; }
.kinesiologia { background-color: #CDDC39; }
.laboratorio { background-color: #dbcb34; }
.vacunatorio { background-color: #FFC107; }
.donacion { background-color: #FF9800; }


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

.main-container {
    max-width: 600px;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

h2 {
    position: relative;
    bottom: 30px;
    color: #333;
    margin-bottom: 20px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.service-card img {
    transform: scale(2);
    width: 100%;
    margin-bottom: 10px;
}



button {
    position: relative;
    right: 150px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2dbbc0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px; /* Bordes redondeados para el botón */
}

button:hover {
    background-color: #4583a0;
}

.progress-bar {
    background-color: #ffffff00;
    display: flex;
    flex-direction: row; /* Esto asegura que los elementos dentro estén en fila horizontal */
    align-items: center;
    position: relative;
    margin: 20px 0;
    bottom: 56px;
}

.progress-bar::before {
    content: '';
    position: absolute;
    top: 50%; /* Ajusta la línea al centro vertical de los círculos */
    transform: translateY(-50%); /* Centra la línea respecto a su posición top */
    height: 2px;
    width: 100%;
    background-color: #ddd;
    z-index: 0;
}

.step {
    text-align: center;
    line-height: 30px;
    color: #5F9EA0; /* Cambié el color del número para un azul-verdoso suave */
    background-color: lightgrey;
    width: 30px; /* Mantiene el tamaño original del círculo */
    height: 30px; /* Mantiene el tamaño original del círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 35px; /* Este margen puede ajustarse si se desea más espacio entre los círculos */
    border-radius: 50%;
    font-weight: bold; /* Hace el número más audaz */
    font-size: 1.2em; /* Aumenta el tamaño de la fuente para mejorar la visibilidad */
    border: 2px solid #ddd; /* Mantiene el borde como en el diseño original */
    position: relative; /* Necesario para el posicionamiento absoluto de ::before */
    z-index: 1;
}
.step.active {
    border-color: rgb(41, 142, 155); /* Mantenemos el color del borde del círculo activo como en el diseño original */
}

.step.active::after {
    content: '';
    width: 50%; /* Establece el tamaño del círculo interior como un porcentaje del padre */
    height: 50%; /* Establece el tamaño del círculo interior como un porcentaje del padre */

    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Esto centrará el círculo interior tanto vertical como horizontalmente */
}

.step:first-child::after {
    background: none;
}

.progress-bar {
    counter-reset: step;
}

.step {
    text-align: center;
    line-height: 30px;
    color: white;
    background-color: lightgrey;
}

.step:before {
    /* ... */
    content: counter(step);
    counter-increment: step;
    width: 22px; /* Ajustado al tamaño del círculo */
    height: 22px; /* Ajustado al tamaño del círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    background-color: #ddd; /* Fondo de los números (círculos) */
    color: #5F9EA0; /* Color de los números */
    font-size: 1.2em; /* Aumenta el tamaño de la fuente */
    font-weight: bold; /* Hace el número más audaz */
}

.step.active:before {
    background-color: #22b9ad; /* Color del círculo activo */
    color: white; /* Color del número dentro del círculo activo para contraste */
}

.service-card a {
    display: block; /* Hace que el enlace llene el contenedor .service-card */
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Mantiene el color del texto como está definido en .service-card */
  }
  
  .service-card a img {
    display: block; /* Mantiene la imagen como un bloque, lo que evita que se añadan espacios alrededor */
    width: 100%; /* Opcional: si deseas que la imagen llene todo el ancho del .service-card */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
  }

  .service-card:hover {
    transform: scale(1.05); /* Hace que la tarjeta sea un 5% más grande */
    background-color: rgba(255, 255, 255, 0.5); /* Cambia el color de fondo al pasar el mouse */
    opacity: 0.5;
    
  }


@media (max-width: 768px) {
    .service-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .service-grid {
        grid-template-columns: 1fr;
    }
} 
