.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Ajusta el ancho para pantallas grandes */
    max-width: 600px; /* Establece un ancho máximo */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    color: #5cb85c;
    text-align: center;
}

#formEditarEspecialista {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Crea columnas automáticas basadas en el tamaño mínimo del input */
    gap: 20px; /* Espacio entre filas y columnas */
    align-items: center; /* Alinea verticalmente */
    justify-items: center; /* Alinea horizontalmente */
}

#formEditarEspecialista div {
    width: 100%; /* Asegura que el contenedor de div ocupe todo el ancho disponible */
}

#formEditarEspecialista input,
#formEditarEspecialista textarea {
    width: calc(100% - 20px); /* Reduce el ancho del input para tener en cuenta el padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    transition: border-color 0.3s; /* Suaviza el cambio de color de borde */
}

#formEditarEspecialista input:focus,
#formEditarEspecialista textarea:focus {
    border-color: #5cb85c; /* Cambia el color del borde al hacer focus */
    outline: none; /* Elimina el contorno predeterminado */
}

#formEditarEspecialista button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Suaviza el cambio de color de fondo */
}

#formEditarEspecialista button:hover {
    background-color: #4cae4c; /* Oscurece el botón al pasar el mouse */
}

/* Formulario de edit */

#editNombreEspecialista{
    width: 100%; /* que ocupe todo el ancho disponible */
    padding: 10px 20px ; /* espacio interno del botón */
    margin-top: 10px; /* separación entre el último campo y el botón */
    border-color: black; /* sin bordes */
    border-radius: 20px; /* bordes redondeados */
    background-color: #ffffff; /* color de fondo */
    color: #000000; /* texto en color blanco */
    font-size: 1em; /* tamaño de fuente adecuado */
    cursor: pointer; /* cursor en forma de mano al pasar por encima */
    transition: background-color 0.3s ease; /* transición suave al cambiar el color de fondo */
}

#editRutEspecialista{
    width: 100%; /* que ocupe todo el ancho disponible */
    padding: 10px 20px ; /* espacio interno del botón */
    margin-top: 10px; /* separación entre el último campo y el botón */
    border-color: black; /* sin bordes */
    border-radius: 20px; /* bordes redondeados */
    background-color: #ffffff; /* color de fondo */
    color: #000000; /* texto en color blanco */
    font-size: 1em; /* tamaño de fuente adecuado */
    cursor: pointer; /* cursor en forma de mano al pasar por encima */
    transition: background-color 0.3s ease; /* transición suave al cambiar el color de fondo */
}

#editTelefono{
    width: 100%; /* que ocupe todo el ancho disponible */
    padding: 10px 20px ; /* espacio interno del botón */
    margin-top: 10px; /* separación entre el último campo y el botón */
    border-color: black; /* sin bordes */
    border-radius: 20px; /* bordes redondeados */
    background-color: #ffffff; /* color de fondo */
    color: #000000; /* texto en color blanco */
    font-size: 1em; /* tamaño de fuente adecuado */
    cursor: pointer; /* cursor en forma de mano al pasar por encima */
    transition: background-color 0.3s ease; /* transición suave al cambiar el color de fondo */
}

#editCorreo{
    width: 100%; /* que ocupe todo el ancho disponible */
    padding: 10px 20px ; /* espacio interno del botón */
    margin-top: 10px; /* separación entre el último campo y el botón */
    border-color: black; /* sin bordes */
    border-radius: 20px; /* bordes redondeados */
    background-color: #ffffff; /* color de fondo */
    color: #000000; /* texto en color blanco */
    font-size: 1em; /* tamaño de fuente adecuado */
    cursor: pointer; /* cursor en forma de mano al pasar por encima */
    transition: background-color 0.3s ease; /* transición suave al cambiar el color de fondo */
}

#editDescripcion{
    width: 100%; /* que ocupe todo el ancho disponible */
    padding: 10px 20px ; /* espacio interno del botón */
    margin-top: 10px; /* separación entre el último campo y el botón */
    border-color: black; /* sin bordes */
    border-radius: 20px; /* bordes redondeados */
    background-color: #ffffff; /* color de fondo */
    color: #000000; /* texto en color blanco */
    font-size: 1em; /* tamaño de fuente adecuado */
    cursor: pointer; /* cursor en forma de mano al pasar por encima */
    transition: background-color 0.3s ease; /* transición suave al cambiar el color de fondo */
}

#editCostoConsulta{
    width: 100%; /* que ocupe todo el ancho disponible */
    padding: 10px 20px ; /* espacio interno del botón */
    margin-top: 10px; /* separación entre el último campo y el botón */
    border-color: black; /* sin bordes */
    border-radius: 20px; /* bordes redondeados */
    background-color: #ffffff; /* color de fondo */
    color: #000000; /* texto en color blanco */
    font-size: 1em; /* tamaño de fuente adecuado */
    cursor: pointer; /* cursor en forma de mano al pasar por encima */
    transition: background-color 0.3s ease; /* transición suave al cambiar el color de fondo */
}

#editEspecialidad{
    width: 100%; /* que ocupe todo el ancho disponible */
    padding: 10px 20px ; /* espacio interno del botón */
    margin-top: 10px; /* separación entre el último campo y el botón */
    border-color: black; /* sin bordes */
    border-radius: 20px; /* bordes redondeados */
    background-color: #ffffff; /* color de fondo */
    color: #000000; /* texto en color blanco */
    font-size: 1em; /* tamaño de fuente adecuado */
    cursor: pointer; /* cursor en forma de mano al pasar por encima */
    transition: background-color 0.3s ease; /* transición suave al cambiar el color de fondo */
}

#editExperiencia{
    width: 100%; /* que ocupe todo el ancho disponible */
    padding: 10px 20px ; /* espacio interno del botón */
    margin-top: 10px; /* separación entre el último campo y el botón */
    border-color: black; /* sin bordes */
    border-radius: 20px; /* bordes redondeados */
    background-color: #ffffff; /* color de fondo */
    color: #000000; /* texto en color blanco */
    font-size: 1em; /* tamaño de fuente adecuado */
    cursor: pointer; /* cursor en forma de mano al pasar por encima */
    transition: background-color 0.3s ease; /* transición suave al cambiar el color de fondo */
}

#editCentroMedico{
    width: 100%; /* que ocupe todo el ancho disponible */
    padding: 10px 20px ; /* espacio interno del botón */
    margin-top: 10px; /* separación entre el último campo y el botón */
    border-color: black; /* sin bordes */
    border-radius: 20px; /* bordes redondeados */
    background-color: #ffffff; /* color de fondo */
    color: #000000; /* texto en color blanco */
    font-size: 1em; /* tamaño de fuente adecuado */
    cursor: pointer; /* cursor en forma de mano al pasar por encima */
    transition: background-color 0.3s ease; /* transición suave al cambiar el color de fondo */
}

#editUniversidad{
    width: 100%; /* que ocupe todo el ancho disponible */
    padding: 10px 20px ; /* espacio interno del botón */
    margin-top: 10px; /* separación entre el último campo y el botón */
    border-color: black; /* sin bordes */
    border-radius: 20px; /* bordes redondeados */
    background-color: #ffffff; /* color de fondo */
    color: #000000; /* texto en color blanco */
    font-size: 1em; /* tamaño de fuente adecuado */
    cursor: pointer; /* cursor en forma de mano al pasar por encima */
    transition: background-color 0.3s ease; /* transición suave al cambiar el color de fondo */
}

#editTipoCentroMedico{
    width: 100%; /* que ocupe todo el ancho disponible */
    padding: 10px 20px ; /* espacio interno del botón */
    margin-top: 10px; /* separación entre el último campo y el botón */
    border-color: black; /* sin bordes */
    border-radius: 20px; /* bordes redondeados */
    background-color: #ffffff; /* color de fondo */
    color: #000000; /* texto en color blanco */
    font-size: 1em; /* tamaño de fuente adecuado */
    cursor: pointer; /* cursor en forma de mano al pasar por encima */
    transition: background-color 0.3s ease; /* transición suave al cambiar el color de fondo */
}

#editNivelAtencion{
    width: 100%; /* que ocupe todo el ancho disponible */
    padding: 10px 20px ; /* espacio interno del botón */
    margin-top: 10px; /* separación entre el último campo y el botón */
    border-color: black; /* sin bordes */
    border-radius: 20px; /* bordes redondeados */
    background-color: #ffffff; /* color de fondo */
    color: #000000; /* texto en color blanco */
    font-size: 1em; /* tamaño de fuente adecuado */
    cursor: pointer; /* cursor en forma de mano al pasar por encima */
    transition: background-color 0.3s ease; /* transición suave al cambiar el color de fondo */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; /* bordes redondeados para el modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra suave para darle profundidad */
    font-family: Arial, sans-serif; /* Asegúrate de usar una fuente legible */
    width: 80%; /* Ajusta esto según la anchura deseada del modal */
    margin: auto; /* Centrar el modal en la pantalla */
}

.modal-content h2 {
    color: #000000; /* Color para el título, similar al formulario de contacto */
    text-align: center;
    position: relative;
    bottom: 20px;
}

#formEditarEspecialista {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre campos */
}

#formEditarEspecialista div {
    display: flex;
    justify-content: center;
}

#formEditarEspecialista input[type="text"],
#formEditarEspecialista input[type="email"],
#formEditarEspecialista textarea {
    width: 100%; /* Ajusta al ancho disponible */
    padding: 10px; /* Espacio interno para la entrada de texto */
    margin-bottom: 10px; /* Espacio entre campos */
    border: 1px solid #ccc; /* Borde ligero */
    background-color: #fff; /* Fondo blanco para los campos de entrada */
    border-radius: 4px; /* Bordes ligeramente redondeados */
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1); /* Sombra sutil para dar profundidad */
    font-size: 16px; /* Tamaño de fuente legible */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transición suave para el enfoque */
}

/* Estilo cuando el usuario selecciona (hace foco en) un campo de entrada */
#formEditarEspecialista input[type="text"]:focus,
#formEditarEspecialista input[type="email"]:focus,
#formEditarEspecialista textarea:focus {
    border-color: #6C63FF; /* Cambia el color del borde al seleccionar */
    box-shadow: 1px 1px 8px rgba(108, 99, 255, 0.5); /* Sombra más prominente al seleccionar */
    outline: none; /* Elimina el contorno predeterminado al seleccionar */
}

#btnActualizarEspecialista {
    width: 100%; /* que ocupe todo el ancho disponible */
    padding: 10px 20px ; /* espacio interno del botón */
    margin-top: 10px; /* separación entre el último campo y el botón */
    border: none; /* sin bordes */
    border-radius: 20px; /* bordes redondeados */
    background-color: #6C63FF; /* color de fondo */
    color: #fff; /* texto en color blanco */
    font-size: 1em; /* tamaño de fuente adecuado */
    cursor: pointer; /* cursor en forma de mano al pasar por encima */
    transition: background-color 0.3s ease; /* transición suave al cambiar el color de fondo */
}

#btnActualizarEspecialista:hover {
    background-color: #5757d1;
}

/* Ajustar el estilo al enfocar un campo */
#formEditarEspecialista input[type="text"]:focus,
#formEditarEspecialista input[type="email"]:focus,
#formEditarEspecialista textarea:focus {
    border-color: #6C63FF; /* color del borde al enfocar */
    box-shadow: 0 0 8px rgba(108, 99, 255, 0.5); /* sombra exterior para resaltar */
    outline: none; /* eliminar el contorno predeterminado */
}

#formEditarEspecialista > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

